h2 {
    text-align: center;
}

.editBtn {
    background-color: rgb(77, 61, 82);
      border: 0.5px solid rgb(66, 9, 76);
      color: white;
      padding: 5px 5px;
      text-align: center;
      text-decoration: none;
      font-size: 11px;
      float: center;
      margin-left: 20px;
      margin:5px;
      border-radius: 5px;
    }

.editBtn:hover {
    background-color: rgb(187, 174, 189);
}



h3 {
    
    text-align: center;
    font-size: 16px;
}

.container-two {
    padding-top: 1px;
}

h3 .container-two {
    width: 3%;
}

label, p {
    text-decoration: underline;
    color: black;
    text-align: left;
}

td {
    padding: 10px 0;
}

form {
    
    text-align: left;
}


  @media screen and (max-width: 750px) {
    .navbar {position: fixed;}
    
    .searchBtn {
        display: none;
    }
    
    
  }
